backend/target/
backend/maven.zip
backend/apache-maven-*/
.idea/
.vscode/
*.log
.DS_Store

# Seguridad
.env
.env.*

# Java / Spring Boot
*.class
*.jar
*.war
*.ear
.classpath
.project
.settings/

# Frontend (si llegas a usar NPM/Node)
node_modules/
